@model ShopMaster.Areas.FrontEnd.ViewModelsF.ProductsAll

@{
    int i = 0;
}


<style>

    /* 顯示大張圖片 */
    .modal-content {
        background-color: transparent;
    }

    #picBtn {
        position: relative; /* 確保按鈕內的圖片可以定位 */
        border: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* 保持圖片的比例並填滿按鈕區域 */
    }

    /* 點選商品小圖片預設狀態下，按鈕完全不透明 */
    .list-group-item {
        transition: opacity 0.3s ease;
        opacity: 1;
    }

    /* 當按鈕被點擊（active）時，讓其變為半透明 */
    .list-group-item:active {
        opacity: 0.5;
    }

    /* 當按鈕獲得焦點時，也保持半透明效果 */
    .list-group-item:focus {
        opacity: 0.5;
    }

    .inactive {
        opacity: 0.5; /* 透明度設定為 0.5 */
    }

    /* 點選商品初始樣式 */
    .hover {
        position: relative;
        padding-bottom: 10px;
        color: black;        
        line-height: 200px;
        transition: transform 0.3s ease, opacity 0.3s ease; /* 添加過渡效果 */
        opacity: 1;
    }

    /* 懸停時的浮動和半透明效果 */
    .hover:hover {
        transform: translateY(-8px); /* 向上浮動 */
        opacity: 0.7; /* 半透明 */
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    /* 以下商品明細 */
    #productName {
        font-weight: bolder;
    }    

    #purchase {
        width: 110px;
        height: 110px;
        border-radius: 50%;
    }

    #describe {
        border-radius: 0.375rem;
        border: 1px solid lightgray;
        padding: 10px;
    }

</style>

<div class="container" style="padding-top: 115px">
    <div class="row mt-5">

        @* 商品照片 *@
        <div class="col-md-1 col-2">
            <div class="list-group ">

                @foreach (var p in Model.ProductDetails)
                {
                    <button type="button" class="list-group-item list-group-item-action btn btn-lg mb-2" id="picBtn" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@Model.ProductDetails.IndexOf(p)">
                        <img src="@p.ProductImage" class="d-block w-100" alt="..." id="pic0">
                    </button>
                }

            </div>
        </div>
        <div class="col-md-5 col-10" style="padding-left: 0px;padding-right: 0px">

            <div id="carouselExampleCaptions" class="carousel slide ">
                <div class="carousel-inner">

                    @foreach (var p in Model.ProductDetails)
                    {
                        @foreach (var img in p.ProductImages)
                        {
                            <div class=" btn carousel-item @(Model.ProductDetails.IndexOf(p) == 0 ? "active" : "") py-0 px-0" style="border:none" data-bs-toggle="modal" data-bs-target="#modal-@img.Id" id="picBigBtn">
                                <img src="@img.ImageUrl" class="d-block w-100" alt="..." id="pic" style="padding:10px">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5></h5>
                                    <p></p>
                                </div>
                            </div>
                            <div class="modal fade" id="modal-@img.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="border:none">
                                        <div class="modal-header" style="border:none">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img src="@img.ImageUrl" class="d-block w-100" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="" aria-hidden="true"><i class="bi bi-circle-fill " style="color:black"></i></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="" aria-hidden="true"><i class="bi bi-circle-fill" style="color:black"></i></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        @foreach (var d in Model.ProductDetails)
        {
            if (Model.ProductDetails.IndexOf(d) == 0)
            {
                @* 商品明細 *@
                <div class="col-12 col-md-6">                   
                    <input type="hidden" name="memberId" value="@d.Id" />
                    <h2 id="productName" style="color:black" class="mt-3" asp-for="Name">@d.Name</h2>
                    <p class="text-start mt-3  " style="color:black; font-size:17px; ">@d.Description</p>
                    <P class="text-start  " style="color:black; ">@d.Price</P>
                    <div>
                        <div class="d-flex mt-5">
                            <select class="form-select" aria-label="尺寸" style="height:38px; width:100px">
                                <option selected>尺寸</option>
                                <option value="1">XS</option>
                                <option value="2">S</option>
                                <option value="3">M</option>
                            </select>

                            @* 數量 *@
                            <div class="input-group mb-3 ms-2 border-left-0" style="height:38px; width:110px; border-left: none;" id="count">
                                <button class="btn" type="button" id="button-minus" style="border-color: #dee2e6; border-right: none;">-</button>
                                <input type="text" class="form-control border-left-0" value="1" id="countInput" aria-label="Example text with button addon" aria-describedby="button-addon1" style="border-right: none; border-left: none; text-align: center" readonly>
                                <button class="btn" type="button" id="button-plus" style="border-color: #dee2e6; border-left: none;">+</button>
                            </div>
                        </div>
                        <div class="d-grid gap-2 justify-content-center mt-2 mb-1">
                            <button class="btn btn-warning fw-bold add-to-cart" type="submit" id="purchase" data-id="@d.Id" data-name="@d.Name" data-price="@d.Price" data-mainimage="@d.MainImage" style="color:	white;">加入購物車</button>
                        </div>
                    </div>
                    <div class="mt-4" id="describe">
                        <p class="text-start my-0 ">
                            @d.Content
                        </p>
                    </div>                   
                </div>

                i++;
            }
        }

    </div>
    <section>
        <h4 class="mt-5">你可能也喜歡</h4>
        <div class="row mt-2">

            @foreach (var p in Model.ProductListLove)
            {
                <div class="col-md-3 col-sm-4 col-6 mt-3 mb-2">
                    <a href="/Products/Details/@p.Id" class="text-decoration-none">
                        <div class="card h-100 hover" style="height: 300px;">
                            <img src="@p.MainImage" class="card-img-top" alt="商品1">
                            <div class="card-body d-flex flex-column justify-content-end">
                                <h5 class="card-title text-truncate" title="@p.Name">@p.Name</h5>
                            </div>
                        </div>
                    </a>
                </div>
            }

        </div>
    </section>
</div>


<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border:none">
            <div class="modal-header" style="border:none">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="https://picsum.photos/300?=0" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const carousel = document.getElementById('carouselExampleCaptions');
    const buttons = document.querySelectorAll('.list-group .btn');

    // 在輪播切換完成後更新按鈕透明度
    carousel.addEventListener('slid.bs.carousel', function(event) {
      // 移除所有按鈕的半透明效果
      buttons.forEach(button => button.classList.remove('inactive'));

      // 根據當前的 active 項來設置透明度
      const activeIndex = Array.from(carousel.querySelectorAll('.carousel-item')).findIndex(item => item.classList.contains('active'));

      // 將對應的按鈕設為半透明
      buttons[activeIndex].classList.add('inactive');
    });

    // 初始化，當頁面加載時設置第一個按鈕為半透明
    buttons[0].classList.add('inactive');

    // 以下數字加總
    const buttonMinus = document.getElementById('button-minus');
    const buttonPlus = document.getElementById('button-plus');
    const input = document.querySelector('#count input');

    // 監聽減號按鈕事件
    buttonMinus.addEventListener('click', function() {
        let currentValue = parseInt(input.value);
        if (!isNaN(currentValue) && currentValue > 1) {  // 保證數字不小於 1
            input.value = currentValue - 1;
           
        }
         console.log(input.value)
    });

    // 監聽加號按鈕事件
    buttonPlus.addEventListener('click', function() {
        let currentValue = parseInt(input.value);
        if (!isNaN(currentValue)) {
            input.value = currentValue + 1;  // 可以無限加
        }
        console.log(input.value)
    });

    $(document).ready(function() {
         
        // 當加入購物車的按鈕被點擊時觸發
        $('.add-to-cart').click(function() {

            var countInput = $('#countInput').val();
            var productId = $(this).data('id');
            var name = $(this).data('name');
            var price = $(this).data('price');
            var mainImage = $(this).data('mainimage');            

            $.post('/Cart/AddToCart', {
                productId: productId,
                name: name,
                price: price,
                mainImage: mainImage,
                countInput: countInput
            }, function(response) {
                if (response.success) {
               sessionStorage.setItem('cartItemCount', response.cartItemCount);
               var cartItemCount = sessionStorage.getItem('cartItemCount');
                 if (cartItemCount)
                 {
                    $('#cartCount').html(cartItemCount);
                 }
                 else
                 {

                   $('#cartCount').html('0');
                 }
                    alert('商品已加入購物車 !');
               }
            })
        });
    });
</script>

