@model ShopMaster.Areas.FrontEnd.ViewModels.ProductDetailsViewModel
@{

}

<div class="container-fluid">

    <div class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <h2>@Model.Product.Name</h2>
                <ul>
                    <li><a href="index.html">首頁</a></li>
                    <li>商品資訊</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="product-details-area pt-100 pb-70">
        <div class="container">
            <div class="products-details-image-slider owl-carousel owl-theme owl-loaded owl-drag">

                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-1326px, 0px, 0px); transition: 0.25s; width: 4420px;">
                        
                        @foreach (var image in Model.Product.ProductImages)
                        {
                            <div class="owl-item" style="width: 412px; margin-right: 30px;">
                                <div class="image">
                                    <img src="@image.ImageUrl" alt="product image">
                                </div>
                            </div>
                        }


                    </div>
                </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="flaticon-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="flaticon-right-arrow"></i></button></div><div class="owl-dots disabled"></div>
            </div>

            <div class="products-details-desc">
                <h3>@Model.Product.Name</h3>

                <div class="price">
                    <span class="new-price">$@Model.Product.Price</span>
                </div>

                <div class="products-review">
                    <div class="rating">
                        <i class="bx bx-star"></i>
                        <i class="bx bx-star"></i>
                        <i class="bx bx-star"></i>
                        <i class="bx bx-star"></i>
                        <i class="bx bx-star"></i>
                    </div>
                    <a class="rating-count">3 reviews</a>
                </div>

                <ul class="products-info">
                    <li><span>庫存數量:</span> <a>@Model.Product.Stock (個)</a></li>
                </ul>

                <div class="products-size-wrapper">
                    <span>顏色:</span>

                    <ul>
                        <li><a>黑色</a></li>
                        <li><a>灰色</a></li>
                        <li><a>金色</a></li>
                        <li><a>白色</a></li>
                    </ul>
                </div>

                <div class="products-add-to-cart">
                    <div class="input-counter">
                        <span class="minus-btn"><i class="bx bx-minus"></i></span>
                        <input type="text" value="1">
                        <span class="plus-btn"><i class="bx bx-plus"></i></span>
                    </div>

                    <button id="add-to-cart-btn" type="submit" class="default-btn"><i class="fas fa-cart-plus"></i> 加入購物車</button>
                </div>

            </div>

            <div class="tab products-details-tab">
                <ul class="tabs active">
                    <li class="current">
                        <a href="#">
                            <div class="dot"></div> 商品描述
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="dot"></div> 商品規格
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="dot"></div> 寄送方法
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="dot"></div> 評論區
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tabs-item">
                        <div class="products-details-tab-content">
                            <p>
                                @Model.Product.Description
                            </p>
                        </div>
                    </div>

                    <div class="tabs-item">
                        <div class="products-details-tab-content">
                            <p>
                                @Model.Product.Content
                            </p>
                        </div>
                    </div>

                    <div class="tabs-item">
                        <div class="products-details-tab-content">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Shipping</td>
                                            <td>This item Ship to USA</td>
                                        </tr>

                                        <tr>
                                            <td>Delivery</td>
                                            <td>
                                                Estimated between Wednesday 07/31/2024 and Monday 08/05/2024 <br>
                                                Will usually ship within 1 bussiness day.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tabs-item">
                        <div class="products-details-tab-content">
                            <div class="products-review-form">
                                <h3>Customer Reviews</h3>

                                <div class="review-title">
                                    <div class="rating">
                                        <i class="bx bxs-star"></i>
                                        <i class="bx bxs-star"></i>
                                        <i class="bx bxs-star"></i>
                                        <i class="bx bxs-star"></i>
                                        <i class="bx bx-star"></i>
                                    </div>
                                    <p>Based on 3 reviews</p>
                                    <a href="#" class="default-btn">Write a Review</a>
                                </div>

                                <div class="review-comments">
                                    <div class="review-item">
                                        <div class="rating">
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bx-star"></i>
                                        </div>
                                        <h3>Good</h3>
                                        <span><strong>Admin</strong> on <strong>Sep 21, 2024</strong></span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                    </div>

                                    <div class="review-item">
                                        <div class="rating">
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bx-star"></i>
                                        </div>
                                        <h3>Good</h3>
                                        <span><strong>Admin</strong> on <strong>Sep 21, 2024</strong></span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                    </div>

                                    <div class="review-item">
                                        <div class="rating">
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bx-star"></i>
                                        </div>
                                        <h3>Good</h3>
                                        <span><strong>Admin</strong> on <strong>Sep 21, 2024</strong></span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                    </div>
                                </div>

                                <div class="review-form">
                                    <h3>Write a Review</h3>

                                    <form>
                                        <div class="row justify-content-center">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" id="name" name="name" placeholder="Enter your name" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="email" id="email" name="email" placeholder="Enter your email" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <input type="text" id="review-title" name="review-title" placeholder="Enter your review a title" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <textarea name="review-body" id="review-body" cols="30" rows="6" placeholder="Write your comments here" class="form-control"></textarea>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12">
                                                <button type="submit" class="default-btn">Submit Review</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="related-products">
            <div class="container">
                <div class="section-title">
                    <h2>您可能感興趣...</h2>
                </div>

                <div class="products-slides owl-carousel owl-theme owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-1768px, 0px, 0px); transition: 0.25s; width: 5304px;">
                            
                            @foreach (var product in Model.RecommendedProducts)
                            {
                                <div class="owl-item" style="width: 412px; margin-right: 30px;">
                                    <div class="single-products-box">
                                        <div class="products-image d-flex align-items-center justify-content-center" style="height: 300px; overflow: hidden;">

                                            <a href="@Url.Action("Details", "Products", new { id = product.Id })">
                                                <img src="@product.MainImage" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="@product.Name">
                                                <img src="@product.MainImage" class="img-fluid w-100 h-100 position-absolute" style="object-fit: cover; top: 0; left: 0;" alt="@product.Name">
                                            </a>
                                        </div>

                                        <div class="products-content">
                                            <h3><a href="@Url.Action("Details", "Products", new { id = product.Id })">@product.Name</a></h3>
                                            <div class="price">
                                                @* @if (product.OldPrice.HasValue)
                                                {
                                                    <span class="old-price">$@product.OldPrice.Value</span>
                                                } *@
                                                <span class="new-price">$@product.Price</span>
                                            </div>
                                            <div class="star-rating">
                                                <i class="bx bxs-star"></i>
                                                <i class="bx bxs-star"></i>
                                                <i class="bx bxs-star"></i>
                                                <i class="bx bxs-star"></i>
                                                <i class="bx bxs-star"></i>
                                            </div>
                                            <a class="add-to-cart">$@product.Price</a>
                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="flaticon-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="flaticon-right-arrow"></i></button></div><div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </section>

</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#add-to-cart-btn').click(function() {
                var productId = '@Model.Product.Id';
                var selectedColor = $('.products-size-wrapper ul li.active a').text();
                var quantity = $('.input-counter input').val();

                $.ajax({
                    url: '@Url.Action("AddCart", "Cart", new { area = "FrontEnd" })',
                    type: 'POST',
                    data: JSON.stringify({ productId: productId, color: selectedColor, quantity: quantity }),
                    contentType: 'application/json; charset=utf-8',
                    success: function(response) {
                        alert('商品已成功加入購物車');
                    },
                    error: function(xhr, status, error) {
                        alert('加入購物車時發生錯誤');
                    }
                });
            });

            // 顏色選擇邏輯
            $('.products-size-wrapper ul li a').click(function() {
                $('.products-size-wrapper ul li').removeClass('active');
                $(this).parent().addClass('active');
            });

            // 數量增減邏輯
            $('.input-counter .plus-btn').click(function() {
                var input = $(this).siblings('input');
                var currentValue = parseInt(input.val());
                input.val(currentValue + 1);
            });

            $('.input-counter .minus-btn').click(function() {
                var input = $(this).siblings('input');
                var currentValue = parseInt(input.val());
                if (currentValue > 1) {
                    input.val(currentValue - 1);
                }
            });
        });
    </script>
}

