@* @model  ShopMaster.Areas.FrontEnd.ViewModelsF.ProductsAll
@{
    ViewData["Title"] = "首頁";
    var typeId = ViewData["TypeID"];
}

@await Html.PartialAsync("_Banner")


<div class="container-fluid">

    <!-- Start Categories Banner Area -->
    <section class="categories-banner-area pt-100 pb-70">
        <div class="container-fluid">
            <div class="row justify-content-center">
                @{
                    foreach (var group in Model.ProductList){
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="single-categories-box">
                                <img src="~/frontEnd/assets/img/categories/img1.jpg" alt="image">

                                <div class="content text-white">
                                    <h3>@group.FirstOrDefault().TypeName</h3>
                                    <a href="products-right-sidebar.html" class="default-btn">Discover Now</a>
                                </div>
                                <a href="products-right-sidebar.html" class="link-btn"></a>
                            </div>
                        </div>
                    }
                    
                }
            
            </div>
        </div>
    </section>
    <!-- End Categories Banner Area -->


    <!-- Start Products Area -->
    <section class="products-area pb-70">
        <div class="container">

             @{
                 foreach (var group in Model.ProductList)
                 {
                    <div class="section-title">
                        <h2>@group.FirstOrDefault().TypeName</h2>
                    </div>

                    <div class="row justify-content-center">
                        @foreach(var a in group)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="single-products-box">
                                    <div class="products-image">
                                        <a href="/Products/Details/@a.Id">
                                            <img src="@Url.Content(a.MainImage)" class="main-image" alt="image">
                                            <img src="@Url.Content(a.MainImage)" class="hover-image" alt="image">
                                        </a>
                                    </div>

                                    <div class="products-content">
                                        <h3><a href="/Products/Details/@a.Id">@a.Name</a></h3>
                                        <div class="price">
                                            <span class="new-price">$@a.Price.ToString("N0")</span>
                                        </div>
                                        <div class="star-rating">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
                                        <a href="cart.html" class="add-to-cart">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                 }
             }
        </div>
    </section>
    <!-- End Products Area -->

</div> *@