@model ShopMaster.Areas.FrontEnd.ViewModelsF.ProductsAll

@{
    if (Model != null)
    {
        if (Model.ProductCart.Count() != 0 )
        {
            <form method="post" asp-action="Create" asp-controller="Cart" asp-area="FrontEnd">      

            @foreach (var i in Model.ProductCart)
            {                    
                <input type="hidden" asp-for="ProductCart[0].ProductId" value="@i.ProductId"/>        

                <div class="row d-flex mb-3 ">
                    <div class="col-3 ">

                        @foreach (var img in i.CartItem.Select(c => c.MainImage).ToList())
                        {
                            <img src="@img" class="d-block fixed-size-img" alt="" style="width: 80px; height: 60px">
                        }

                    </div>
                    <div class="col-6 " style="overflow-wrap: break-word; word-break: break-word;">
                        @foreach (var n in i.CartItem.Select(c => c.Name).ToList())
                        {
                            <p class="text-start">@n</p>
                        }

                    </div>
                    <div class="col-3 text-end">

                        @foreach (var p in i.CartItem.Select(c => c.Price).ToList())
                        {
                            <span class=" d-block text-start">@p</span>
                        }

                    </div>
                </div>
            }
                <div class="d-grid gap-2 justify-content-center mt-4">
                    <button class="btn btn-warning fw-bold" type="submit" id="cart" style="color:white;" >前往購物車</button>
                </div>
            </form>
        }
        else
        {
            // 空購物車 
            <div class=" d-flex justify-content-center mt-3"> <h5 class="offcanvas-title" id="offcanvasRightLabel">您的購物車目前是空的</h5></div>
            <div class="d-grid gap-2 justify-content-center">
                <button class="btn btn-warning fw-bold" type="submit" id="continue" style="color:white;" onclick="window.location.href='@Url.Action("Index", "Home", new { area = "FrontEnd" })' ">繼續購物</button>
            </div>
        }
    }
}






