@model ShopMaster.Areas.FrontEnd.ViewModelsF.ProductsAll
@{



}


<style>
    #purchase {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    }


</style>


<div class="container" style="padding-top: 120px">
    <div class="row">
        <div class="">

            <h3 class="text-start fw-bold text-secondary mt-4">您的購物車</h3>
        </div>
    </div> 


    <form>
        <div class="card my-3 " style="max-width: auto;  ">
            @foreach(var c in Model.ProductCart)
            {


                <div class="row g-0 justify-content-center " >
                    <div class="col-md-4 col-3" style="padding: 10px;">



                        @foreach (var img in c.CartItem.Select(c => c.MainImage).ToList())
                        {
                            <img src="@img" class="img-fluid rounded-start d-block" alt="Responsive image" style="height:100px; width:120px">
                        }
                    </div>
                    <div class="col-md-8 col-9">
                        <div class="card-body d-flex justify-content-around  " style="padding-bottom: 0px;">

                            @foreach (var name in c.CartItem.Select(c => c.Name).ToList())
                            {
                                <p class="card-title col-4">"@name"</p>
                            }

                            @* 數量 *@

                            @{

                                foreach (var i in ViewBag.totalInputDictionary)
                                {
                                    if (c.ProductId == i.Key)
                                    {

                                        <div class="input-group mb-3 ms-2 border-left-0 col-3" style="height:38px; width:100px; border-left: none;" id="count">
                                            <button class="btn" type="button" id="button-minus" style="border-color: #dee2e6; border-right: none;">-</button>
                                            <input type="text" class="form-control border-left-0" value="@i.Value" id="count-input-@i.Key" aria-label="Example text with button addon" aria-describedby="button-addon1" style="border-right: none; border-left: none; text-align: center; padding-right: 0px;
                                                 padding-left: 0px;">
                                            <button class="btn" type="button" id="button-plus" style="border-color: #dee2e6; border-left: none;">+</button>

                                        </div>
                                        <div class="col-1 text-center mt-2"> <i class="bi bi-trash3"></i>  </div>
                                    }
                                }

                            }                       


                            @foreach (var p in c.CartItem.Select(c => c.Price).ToList())
                            {

                                <p class="card-text col-2 text-end mt-2" >"@p"</p>
                            }
                        </div>
                </div>
            </div>}
      

        </div>

        <div class="row">
            <div class="col d-flex justify-content-end mt-2">
                <h5 class="fw-bold text-secondary me-5">合計  </h5>
                <span class="me-4 ">  NT999</span>
            </div>
        </div>

        <div class="row">

            <div class="d-grid gap-2 justify-content-end mt-4 ">
                <button class="btn btn-warning fw-bold add-to-cart" type="button" id="purchase" style="color:	white;" onclick="window.location.href='@Url.Action("Create", "Order", new { area = "FrontEnd" })'">結帳去</button>
            </div>
        
        </div>
    </form>
</div>

<script>

    // 以下數字加總
        const buttonMinus = document.getElementById('button-minus');
        const buttonPlus = document.getElementById('button-plus');
        const input = document.querySelector('#count input');



             // 監聽減號按鈕事件
        buttonMinus.addEventListener('click', function() {
            let currentValue = parseInt(input.value);
            if (!isNaN(currentValue) && currentValue > 1) {  // 保證數字不小於 1
                input.value = currentValue - 1;
            }
        });

        // 監聽加號按鈕事件
        buttonPlus.addEventListener('click', function() {
            let currentValue = parseInt(input.value);
            if (!isNaN(currentValue)) {
                input.value = currentValue + 1;  // 可以無限加
            }
        });


</script>