@model ShopMaster.Areas.FrontEnd.ViewModelsF.OrderViewModel;

<style>
    #pay {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
    }

    #checkOrder, #back {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
    }

</style>
<div class="container" style="padding-top: 120px">
    <div class="row">
        <div class="col">
            <h3 class="text-start fw-bold text-warning  mt-4 mb-3">結帳</h3>
        </div>
    </div>
    <form  method="post">
        @Html.AntiForgeryToken()
        <div class="row ">
            @* 收件資料 *@
            @if (Model?.cartList != null && Model.cartList.Any())
            {
                var firstCart = Model.cartList.FirstOrDefault();
                var member = firstCart?.Member;
                var code = firstCart?.Code;

                @if (Model?.cartList != null)
                {
                    @for (int i = 0; i < Model.cartList.Count; i++)
                    {
                        <input type="hidden" asp-for="cartList[i].ProductId" />

                        if (Model.cartList[i].CartItem != null)
                        {
                            @for (int j = 0; j < Model.cartList[i].CartItem.Count; j++)
                            {
                                <input type="hidden" asp-for="cartList[i].CartItem[j].Price"/>
                            }

                        }

                    }

                }

                <input type="hidden" asp-for="cartList[0].MemberId" />
                <input type="hidden" asp-for="cartList[0].Member.MemberTypeId" />

                <div class="col-lg-7 mb-4 order-2 order-lg-1 ">
                    <h5 class="text-start fw-bold text-secondary mb-3"></h5>

                    <div class="card mb-4">
                        <div class="card-header fw-bold text-secondary" style="background-color:transparent">
                            <i class="fas fa-user-edit"></i> 聯絡資訊
                        </div>
                        <div class="card-body ">

                            <div class="form-group mb-2">
                                <label for="Name">姓名</label>
                                <input type="text" class="form-control my-2" id="Name" asp-for="cartList[0].Member.Name"  required />
                            </div>
                            <div class="form-group mb-2">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control my-2" id="Email" asp-for="cartList[0].Member.Email" required />
                            </div>
                            <div class="form-group ">
                                <label for="Phone">電話</label>
                                <input type="text" class="form-control mt-2 " id="Phone" asp-for="cartList[0].Member.Phone" />
                            </div>

                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-header fw-bold text-secondary" style="background-color:transparent">
                            <i class="fas fa-user-edit"></i> 運送
                        </div>
                        @* 運送*@
                        <div class="card-body">
                            @* 輸入取件資訊 *@
                            <div class="form-group mb-2">
                                <label for="Address">地址 / 取貨門市</label>
                                <input type="text" class="form-control my-2" id="Address" asp-for="cartList[0].Member.Address" />
                            </div>
                            @* 運送方式 *@
                            <div class="form-group mb-2">
                                <label for="Address">運送方式</label>
                                <select class="form-select mt-2" aria-label="Default select example">
                                    <option selected>請選擇運送方式</option>
                                    <option value="1">郵寄掛號</option>
                                    <option value="2">宅配</option>
                                    <option value="3">小七貨到付款</option>
                                    <option value="3">小七貨到不付款</option>
                                    <option value="3">全家貨到付款</option>
                                    <option value="3">全家貨到不付款</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    @* 付款 *@
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group mb-2">
                                <label asp-for="@Model.payInfo.SelectedPaymentMethod">付款方式</label>
                                <select asp-for="@Model.payInfo.SelectedPaymentMethod" asp-items="@Model.payInfo.PaymentMethodList" class="form-select mt-2"></select>
                            </div>
                        </div>
                    </div>

                    @* 結帳 *@
                    <div class="d-grid gap-2 justify-content-center mt-5">
                       @*  <button class="btn btn-warning fw-bold" type="submit" id="pay" style="color:white;" data-bs-toggle="modal" data-bs-target="#finish">結帳 !</button> *@
                        <button class="btn btn-warning fw-bold" type="submit" id="pay" style="color:white;" >結帳 !</button>
                    </div>
                </div>




                @* 商品資料 *@
                <div class="col-lg-5 mb-4 order-1 order-lg-2 ">
                    <h5 class="text-start fw-bold text-secondary  mb-3 d-none d-lg-block  "></h5>



                    <button class="btn btn-light d-lg-none  w-100 fw-bold text-secondary fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#responsiveCollapse" aria-expanded="false" aria-controls="responsiveCollapse">
                        商品明細
                    </button>

                    <!-- Collapse 元素 -->
                    <div id="responsiveCollapse" class="collapse  d-lg-block ">


                        <div class="card card-body mt-3" id="cartC">
                            @foreach (var i in Model.cartList)
                            {
                                @foreach (var c in i.CartItem)
                                {
                                    

                                    <div class="row d-flex" id="@i.ProductId">
                                        <div class="col-3">
                                            <img src="@c.MainImage" class="d-block fixed-size-img " alt="" style="width: 80px; height: 60px">
                                        </div>
                                        <div class="col-5 d-flex " style="overflow-wrap: break-word; word-break: break-word;">
                                            <p class="text-start  col-9">@c.Name</p>

                                            @* 數量 *@
                                            @foreach(var key in Model.total.Keys)
                                            {
                                                if (i.ProductId == key)
                                                {
                                                    <input type="text" class="text-end ms-2 mb-5  form-control border-0" asp-for="total[key]" value="@Model.total[key]" readonly />
                                                }
                                            }                                           


                                        </div>
                                        <div class="col-4  ">
                                            @foreach (var key in Model.price.Keys)
                                            {
                                                if (i.ProductId == key)
                                                {
                                                    <input type="text" class=" d-block text-end  form-control border-0 " id="total-price-@key" asp-for="price[key]" value="@Model.price[key]" readonly />


                                                }
                                            }

                                        </div>
                                    </div>}}
                                </div>
                            
                        

                        @* 折扣碼 *@


                        <div class="card mt-3 bg-light">
                            <div class="card-body">
                                <div class="form-group mb-2">
                                    <label for="" class="text-secondary fw-bold" >有優惠券嗎 ?</label>
                                    <select class="form-select mt-2" aria-label="Default select example" id="discountSelect" name="cartList[0].Code">
                                        <option selected>請選擇優惠券</option>    
                                        @foreach(var c in code)
                                        {                           
                                        
                                          <option value="@c">@c</option>
                                        }                                 
                                    </select>
                                </div>
                            </div>
                        </div>
                    
                



                <div class="d-flex justify-content-between   mt-3 mx-1">
                    <p class="">合計</p>
                            <p class="" id="orderFinally"></p>
                </div>

                <div class="d-flex justify-content-between  mx-1" style="border-bottom: 1px solid #ccc; padding-bottom: 5px;">
                    <p>運費</p>
                    <p id="shippingFee">60.00</p>
                </div>

                        <div class="d-flex justify-content-between mt-5 mx-1" >
                    <p style="width:80px" class="my-2">總金額</p>
                            <input type="text" class="fw-bold form-control text-end border-0 mb-3 " id="all" readonly />
                </div>

                        <input type="hidden" id="orderFinallyOriginal" />
            </div>




         </div>
        }  
    </div>

    </form>




</div>


<!-- 暫時Modal -->
<div class="modal fade" id="finish" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">謝謝您的訂單 !</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer d-flex mt-3 justify-content-center" style="border: none;">

                <button type="submit" class="btn btn-warning fw-bold" id="checkOrder" style="color:white" onclick="window.location.href='@Url.Action("Details", "Order", new { area = "FrontEnd" })' ">查看訂單</button>
                <a href="@Url.Action("Index", "Home", new{area = "FrontEnd" })" class="btn btn-secondary fw-bold ms-3" id="back" style="color:white">回首頁</a>
               
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

   
    let finallyTotal = 0    
    let shipping = 60.00

    const orderFinallyElement = document.getElementById('orderFinally');
    let all = document.getElementById('all');
    @*  let shippingFee = document.getElementById('shippingFee'); *@

    @*  顯示總金額 *@
     document.querySelectorAll('input[id^=total-price-]').forEach(cart => {
                 finallyTotal += parseFloat(cart.value) || 0;

    });
    orderFinallyElement.textContent = finallyTotal.toFixed(2);
    all.value = (finallyTotal + shipping).toFixed(2)

    @* 原始總金額隱藏 避免重複減 *@
    document.getElementById("orderFinallyOriginal").value = finallyTotal.toFixed(2);
    const originalTotal = parseFloat(document.getElementById("orderFinallyOriginal").value) || 0;

    @* 折扣價更新價錢 *@
    const discountSelect = document.getElementById("discountSelect");
    const totalDisplay = document.getElementById("orderFinally");
    
    discountSelect.addEventListener("change", function () {
    const discount = this.value;
    let discountAmount = 0;
    let shipping = 60.00

        switch (true) {

        case discount.startsWith("FREESHIP"):
                shipping = 0
                alert("免運優惠 !");
                break;    
        case discount.startsWith("WELCOME100"):
                discountAmount = 100;
                alert("會員見面禮 !");
                break;
        case discount.startsWith("ANNIV"):
                discountAmount = 500;
                alert("週年慶500元折扣 !");
                break;
        case discount.startsWith("DOUBLE11"):
                discountAmount = 200;
                alert("雙11狂歡折扣 !");
                break;
        default:
                discountAmount = 0;
                shipping = 60;
                break;    
         }  
         
        const total = parseFloat(totalDisplay.textContent) || 0;
        const discountedTotal = Math.max(originalTotal - discountAmount, 0);
        totalDisplay.textContent = discountedTotal.toFixed(2);

        // 更新運費與總金額
        shippingFee.textContent = shipping.toFixed(2);
        all.value = (discountedTotal + shipping).toFixed(2);

    });

    
        



</script>