@model ShopMaster.Areas.FrontEnd.ViewModelsF.MemberOrderViewModel


<style>

    #back {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
    }


</style>

<div class="container" style="padding-top: 160px">

    <div class="row justify-content-center">
        <div class="col-md-10 col-12 mb-4">
            <div class="card">
                <div class="card-header text-secondary fw-bold " style="background-color:transparent">
                    <i class="fas fa-user"></i> @Model.Name 的訂單
                </div>
                <div class="card-body ">                  
                    <table class="table  table-sm">
                        <thead>
                            <tr>
                                <th >照片</th>
                                <th >名稱</th>
                                <th style="width: 40px;">數量</th>
                                <th>金額</th>
                                <th>總金額</th>                                
                                <th>小計</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model.OrderDetail)
                            {
                                <tr>
                                    <td> <img src=@i.Product.MainImage class="img-fluid rounded-start d-block" alt="Responsive image" style="height:100px; width:120px"> </td>
                                    <td>@i.Product.Name</td>
                                    <td>@i.Quantity</td>
                                    <td>@i.OriginalPrice</td>
                                    <td>@i.FinalPrice</td>                                    
                                    <td>@i.SubTotal</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                                                  
                </div>
              
                <p class="me-5 text-end  ">合計: @Model.TotalAmount </p>
            </div>
           
        </div>
    <div class="row justify-content-center">
    <a href="@Url.Action("Index", "Home", new{area = "FrontEnd" })" class="btn btn-secondary fw-bold ms-3" id="back" style="color:white">回首頁</a>
    </div>
    </div>
